@model IEnumerable<ProyectoWEBCOVID.Models.Persona>
@{
    ViewData["Title"] = "Lista de Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @TempData["mensaje"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Personas</h3>
        </div>
        <div class="col-sm-12">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="PersonasControler">Agregar Persona</a>
        </div>
    </div>
    
    <div class="row">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
               <thead>
                   <tr>
                       <td>@Html.DisplayNameFor(m => m.Id)</td>
                       <td>@Html.DisplayNameFor(m => m.Identificacion)</td>
                       <td>@Html.DisplayNameFor(m => m.Nombre)</td>
                       <td>@Html.DisplayNameFor(m => m.Apellido)</td>
                       <td>@Html.DisplayNameFor(m => m.FechaIngreso)</td>
                       <td>@Html.DisplayNameFor(m => m.Rol)</td>
                       <td>Acciones</td>
                   </tr>
               </thead>
               <tbody>
                   @foreach (var item in Model)
                   {
                       <tr>
                           <td>@item.Id</td>
                           <td>@item.Identificacion</td>
                           <td>@item.Nombre</td>
                           <td>@item.Apellido</td>
                           <td>@item.FechaIngreso</td>
                           <td>@item.Rol</td>
                           <td>
                               <a asp-controller="PersonasControler" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                               <a asp-controller="PersonasControler" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                           </td>
                       </tr>
                   }
               </tbody>
            </table>
        }
        else
        {
            <p>No existen Registros</p>
        }
    </div>
</div>

